<h1>Olá {{ deliveryman }}.</h1>

<p>
  Há uma nova entrega aguardando retirada.
</p>

<p>
  <strong>Produto:</strong> <span>{{ product }}</span>
  <br />
  <strong>Endereço:</strong> <span>{{ address }}</span>
</p>
