<h1>Olá {{ deliveryman }}.</h1>

<p>
  A entrega abaixo foi <strong>CANCELADA</strong> e não está mais disponível para retirada.
</p>

<p>
  <strong>Produto:</strong> <span>{{ product }}</span>
  <br />
  <strong>Endereço:</strong> <span>{{ address }}</span>
</p>
